<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <properties>
        <property name="LOG_HOME">/tmp/logs/</property>
        <property name="ERROR_FILE_NAME">test-app</property>
        <property name="LOG_FILE_PATTERN"> [%d{yyyy-MM-dd.HH:mm:ss.SSS} [%p] %t Txid:%X{PtxId} SpanId:%X{PspanId}] %c: %m%n</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_FILE_PATTERN}" />
        </Console>

        <RollingRandomAccessFile name="ERROR" fileName="${LOG_HOME}/${ERROR_FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/$${date:yyyyMM}/${ERROR_FILE_NAME}.%d{yyyyMMdd}.log">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="${LOG_FILE_PATTERN}" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Logger name="org.springframework" level="info" />
        <Logger name="org.quartz" level="info" />
        <Logger name="org.apache.log4j.xml" level="info" />
        <Root level="INFO">
            <AppenderRef ref="Console" />
            <AppenderRef ref="ERROR" />
        </Root>
    </Loggers>

</Configuration>